---
import Container from '@/components/Container.astro';

const pathname = Astro.url.pathname;

const isHomePage = pathname === '/';
const isWritingPage = pathname.startsWith('/writing');

---

<header class="relative z-10">
  <Container>
    <div class="flex justify-end">
      <nav class="flex items-center gap-4">
        <ul class="flex items-center gap-6">
          <li>
            <a href="/" class:list={[
              'font-medium transition-colors',
              'hover:text-headings',
              isHomePage && 'text-headings',
            ]}>Home</a>
          </li>
          <li>
            <a href="/writing" class:list={[
              'font-medium transition-colors',
              'hover:text-headings',
              isWritingPage && 'text-headings',
            ]}>Writing</a>
          </li>
        </ul>
      </nav>
    </div>
  </Container>
</header>